@font-face {
    font-family: 'GilroyHeavy';
    src: url('Gilroy-Heavy.woff2') format('woff2'),
        url('Gilroy-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GilroyLight';
    src: url('Gilroy-Light.woff2') format('woff2'),
        url('Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GilroyBold';
    src: url('Gilroy-Bold.woff2') format('woff2'),
        url('Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GilroyMedium';
    src: url('Gilroy-Medium.woff2') format('woff2'),
        url('Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Regular.woff2') format('woff2'),
        url('Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    padding: 0;
    margin: 0;
    font-family:'GilroyBold', Helvetica, sans-serif;
    font-size: 0.8em;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.webserial {
    position: fixed;
    right: 20px;
    top: 20px;
    background-color: rgba(255,255,255,0.5);
    padding: 20px;
    font-size: 16pt;
}

/** action required **/

.action-required__action-text {
    display: none;
    text-transform: uppercase;
    font-size: 42px;
}

.action-required__action-text--vibration.complete,
.action-required__action-text--temp.complete,
.action-required__action-text--oil-pressure.complete,
.action-required__action-text--oil-level.complete,
.action-required__action-text--bolt-tension.complete {
    fill: white;
    transition: .2s ease-in-out;
}

.action-required__required-text {
    transform: translateX(10px);
    opacity: 0.7;
}

/** turbine status **/

.turbine-status.complete {
    fill:#2FD987;
    transition: .2s ease-in-out;
}

.turbine-status__temp.complete .turbine-status__exclamation {
    display: none;
}

.turbine-status__exclamation {
    pointer-events: none;
}

.turbine-status__exclamation--main {
    animation: glow 3s infinite;
}

.turbine-status__triangle-1,
.turbine-status__triangle-2,
.turbine-status__triangle-3,
.turbine-status__triangle-4,
.turbine-status__triangle-5 {
    animation: glow 2s infinite;
}

@keyframes glow {
    0% { opacity: 0.5; }
    50%{ opacity:1; }
    100%{ opacity:0.5; }
  }
  

.turbine-status__triangle--vibration-overlay {
    transform: translate(0px, -165px);
}

.turbine-status__triangle--oil-pressure-overlay {
    transform: translate(0px, 167px);
}

.turbine-status__triangle--oil-level-overlay {
    transform: translate(0px, 337px);
}

.turbine-status__triangle--bolt-tension-overlay {
    transform: rotate(60deg) translate(511px, -345px);
    transform-origin: 60px;
}

.turbine-status__triangle {
    fill: #FF6D00;
    transition: .2s ease-in-out;
}

.turbine-status__triangle.live {
    fill: #FF6D00;
    transition: .2s ease-in-out;
}

.turbine-status--okay-status {
    fill:#2FD987;
    transition: .2s ease-in-out;
}

.turbine-status__okay-text--vibration,
.turbine-status__okay-text--oil-level {
    display: block;
}

.turbine-status__okay-text--bolt-tension,
.turbine-status__okay-text--oil-pressure,
.turbine-status__okay-text--temp,
.turbine-status__okay-text--oil-level,
.turbine-status__okay-text--vibration {
    display: none;
}

.turbine-status__triangle--bolt-tension-inner.complete,
.turbine-status__triangle--oil-pressure-inner.complete,
.turbine-status__triangle--temp-inner.complete,
.turbine-status__triangle--oil-level-inner.complete,
.turbine-status__triangle--vibration-inner.complete {
    display: block!important;
    fill: white!important;
    opacity: 1;
    animation: none;
}


/* video wrapper */

.video-wrapper {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.video-wrapper video {
    width: 100vw;
    height: 100vh;
}